.Home-image {
    height: 90%;
    align-items: center;
    border-radius: 30px;
}

.dip {
    color: gray;
    font-family: monospace;
    font-size: 55px;
    font-weight: 500;
}

.sip {
    color: black;
    font-family: monospace;
    font-size: 60px;
    font-weight: 600;
}

.sip-now-btn {
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 500;
    font-size: larger;
    background-color: rgb(255, 123, 0);
    transition: .5s;
}

.sip-now-btn:hover {
    background-color: chocolate;
    color: white;
}